/* utility */
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #F6F8F9;
}
hr{
  border: 1px solid #F6F8F9;
}
/* utility */

/* header */
header{
  background-color: #FFFFFF;
  padding: 10px 15px;
}
.title{
  display: inline;
  vertical-align: middle;
  font-size: 40px;
}
.logo{
  vertical-align: middle;
}
/* header */

/* button */
.button-section{
  padding: 10px 40px;
}
button{
 height: 30px;
 border-radius: 5px;
}
.task{
  background-color: #47ADF1;
  color: white;
  border: none;
}
/* button */

/* main */
main{
  background-color: #FFFFFF;
  width: 80%;
  margin: 30px auto;
  padding-bottom: 40px;
  border-radius: 5px;
}
ul{
  list-style: none;
}
h2::before{
  content: '\25bc';
  font-size: 15px;
}
.check::before{
  content: ' \2713';
  color: green;
  padding: 1px 3px;
  border-radius: 50%;
  border: 1px solid green;
  font-size: 10px;
}
.x::before{
  content: ' \2573';
  color: red;
  padding:2px 3px 2px 3px;
  border-radius: 50%;
  border: 1px solid red;
  font-size: 8px;
}
.check ,.x{
  margin-top: 10px;
}
.stamp{
  color: white;
  display: inline-block;
  padding: 6px 9px;
  border-radius: 10px;
  font-size: 0.6em;
}
.editorial{
  background-color: #47ADF1;
}
.q1goals{
  background-color: #9C72E4;
}
.reqruiting{
  background-color: #64C0A9;
}
.mobile{
  background-color: #F29E33;
}
.website{
  background-color: #D863A1;
}
.sales{
  background-color: #B0C926;
}
h4{
  margin-left: 10px;
  display: inline-block;
}
.item{
  padding-left: 0px;
}
.list{
  margin-top: 40px;
}
/* main */
